.containerForm {
  margin-top: 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  row-gap: 4px;
  margin-bottom: 30px;

  input {
    width: 10rem;
    font-size: 14px;
    padding: 4px 1ch;
  }

  button {
    width: 10rem;
    height: 25px;
  }

  label {
    width: 96px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    align-self: center;
  }
  span {
    font-weight: 700;
    font-size: 14px;
  }

  @media (max-width: 600px){
    button, input {height: 2rem};

    input { font-size: 1rem;}
    button { font-size: .8rem;}

  }

  
}
