@use '@/styles/variables' as *;

.footer {
  display: block;
  padding: 1.25rem 10%;
  margin: auto 0 0;
  margin-top: 48px;

  border-top: 0.0625rem solid $white;
  font-size: 0.875rem;

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
  }

  li ul {
    gap: 0.6rem;
  }

  .company {
    font-weight: bold;
  }

  .footerIcon {
    margin: 0 0.625rem;
    height: auto;
    width: 30px;
  }
}

@media only screen and (max-width: 48rem) {
  .footer {
    ul {
      flex-direction: column;
    }

    ul ul {
      flex-direction: row;
    }

    ul li {
      margin: 0.3125rem;
    }

    .footerIcon {
      margin: 0 0.3125rem;
    }
  }
}
