#consent-banner {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;

  background-color: #eee;
  padding: 20px;
}

#consent-banner.show {
  display: block;
}

#consent-banner button {
  padding: 7px 20px;
}

#consent-deny {
  background: none;
  border: none;
  color: #337ab7;
}

#consent-deny:hover {
  color: #286090;
}
